$theme_left_bgcolor:#71D4A5;
$theme_right_bgcolor:#BAB7D4;
$primary-color:#821C21;
$accent-color:#ff4200;
$title-bg-color:#c30000;
$primary-color-text:#FFFFFF;
$background-color:#f5f5f5;
$primary-text-color: #5C89CC;
$primary-deep-color:#03203A;
$active_font_color:#b9b9b9;
$active_border_color:#dfdfdf;
$secondary-text-color: #898989;
$content-text-color:#474747;
$third-color:#08345A;
$border_bottom-color:#F1D661;
$bgc-light:#eee;
$active_border-color:#a2a2a2;
$border_bottom-color:#00c8fa;
$table_color:#ffc6b2;
$content-span-color:#999;
$learn_part_bg_color:#FCFCFC;
$lesson_border_color:#969696;
$open_font_color:#646464;
$open_border_color:#08345a;
$carousel_point_bgcolor:#e52b50;
$test_bgcolor:#b40912;
$info_border_color:#ffb79d;