$theme_left_bgcolor:#71D4A5;
$theme_right_bgcolor:#BAB7D4;
$primary-color:#821C21;
$accent-color:#ff4200;
$title-bg-color:#c30000;
$primary-color-text:#FFFFFF;
$background-color:#f5f5f5;
$primary-text-color: #5C89CC;
$primary-deep-color:#03203A;
$secondary-text-color: #898989;
$content-text-color:#474747;
$third-color:#08345A;
$border_bottom-color:#F1D661;
$bgc-light:#eee;
$active_border-color:#FFA5AD;
$border_bottom-color:#00c8fa;
$table_color:#ffc6b2;
$content-span-color:#999;
$learn_part_bg_color:#FCFCFC;