/* reset */

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select,
div,
ul,
li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 14px"Microsoft YaHei", "Arial Narrow", HELVETICA;
    background: #fff;
    -webkit-text-size-adjust: 100%;
}

a {
    color: #2d374b;
    text-decoration: none
}

a:hover {
    color: #cd0200;
    text-decoration: none;
}

a:hover,
a:visited,
a:active {
    text-decoration: none;
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word
}

div {
    display: block;
}

button {
    outline: none;
    border: 0;
}